#garden-canvas {
  cursor: url("watering_can.png"), auto;
}

#garden-canvas:active {
  cursor: url("watering_can_pour.png"), auto;
}

#deconstructions {
  display: none;
}

#deconstruct-mode-sign {
  position:absolute;
  top: 10px;
  right: 10px;
  color: grey;
}

.deconstructable {
  border: 1px solid transparent;
  transition: transform 0.23s;
}

.deconstructable:hover {
  border: 1px dashed grey;
}
