---
layout: gallery
title: Korede's Photos
permalink: /photos/
support: [jquery, gallery]
---

<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css" integrity="sha512-yxWNfGm+7EK+hqP2CMJ13hsUNCQfHmOuCuLmOq2+uv/AVQtFAjlAJO8bHzpYGQnBghULqnPuY8NEr7f5exR3Qw==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js" integrity="sha512-SxO0cwfxj/QhgX1SgpmUr0U2l5304ezGVhc0AO2YwOQ/C8O67ynyTorMKGjVv1fJnPQgjdxRz6x70MY9r0sKtQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css" integrity="sha512-Rck8F2HFBjAQpszOB9Qy+NVLeIy4vUOMB7xrp46edxB3KXs2RxXRguHfrJqNK+vJ+CkfvcGqAKMJTyWYBiBsGA==" crossorigin="anonymous" />
{% include photoswipe_script.html %}

<style>
  @media only screen and (max-width: 600px) {
    .sub-gallery {
      column-count: 4;
      column-gap: 3px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .sub-gallery {
      column-count: 2;
    }
  }
  
  .thumbnail {
    width: auto; 
    text-align: center; 
    width: 150px;
    padding: 0; margin: 0;
  }

  .thumbnail > img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    padding: 0; margin: 0;
  }
</style>

<div class="center pa3 b--dotted">

  <h2 class="gallery-title">photos</h2>

  <p>
    I've loved photography since secondary school. I covered a lot of sports and social events as the "Media" Prefect at <a href="https://www.olashoreschool.com/">Olashore</a>, alongside a bunch of audio visual stuff like the weekly school news update and the school magazine Oasis.
  </p>

  <p>
    I got my first DSLR in 2013 and learned a lot of technical stuff about photography as part of an elective "trade subject" i took. Having those skills helped a lot with the role and helped pique my interest in the Artform.
  </p>

  <p>
    Doing it pretty dedicatedly in high school was a lot of work, and i was a lot less interested in doing it professionally by the time i'd started college, but i volunteered occasionally with student orgs since i had a camera.
  </p>

  <p>
    Most of the photos posted here were taken on my iPhone. I have an original iPhone X which i got in 2018. It's been my primary driver for photoraphy since. I was planning to pick up my Canon Rebel T3 more devotedly at the start of 2019 but then i lost it :(
  </p>

  <p>
    I really enjoy iPhone photography, and i've tweeted about how the quirks of mobile phone camera's have contributed to certain photo aesthetics of the current era. Just like someone might look at a sepia photo and think of a certain time period (60s maybe?), someone might look at a grainy slightly-zoomed iPhone pic and think of the 2010s.
  </p>

  <div id="gallery">
    <div class="sub-gallery">
      <!-- 
        add photos from "ig" gallery as well
      -->
      {% assign n = site.data.photos | size %}
      {% assign photos = site.data.photos | sample: n %}
      {% for photo in photos %}
        <div class="thumbnail">
          <img class="photo" src="{{ photo.thumbnail }}" h="{{ photo.h }}" w="{{ photo.w }}" index="{{ forloop.index }}"/>
        </div>
      {% endfor %}
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

      <!-- Background of PhotoSwipe. 
          It's a separate element as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">

          <!-- Container that holds slides. 
              PhotoSwipe keeps only 3 of them in the DOM to save memory.
              Don't modify these 3 pswp__item elements, data is added later on. -->
          <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
          </div>

          <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
          <div class="pswp__ui pswp__ui--hidden">
              <div class="pswp__top-bar">
                  <!--  Controls are self-explanatory. Order can be changed. -->
                  <div class="pswp__counter"></div>
                  <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                  <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                  <div class="pswp__preloader">
                      <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                          <div class="pswp__preloader__donut"></div>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                  <div class="pswp__share-tooltip"></div> 
              </div>

              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              </button>

              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              </button>

              <div class="pswp__caption">
                  <div class="pswp__caption__center"></div>
              </div>
          </div>
      </div>
  </div>
  </div>
  <script>
    let items = [];

    let subGallery = document.getElementsByClassName("sub-gallery")[0];
    // parse img tags in DOM into PhotoSwipe structure
    for (let item of subGallery.children) {
      let img = item.firstElementChild;
      items.push({
        src: img.getAttribute("src"),
        h: parseInt(img.getAttribute("h")),
        w: parseInt(img.getAttribute("w")),
      });
    }
    console.log(items);

    let pswpElement = document.querySelectorAll('.pswp')[0];
    var pswp = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items);
    // add maximize event to each photo
    for (let item of subGallery.children) {
      item.addEventListener('click', function(e) {
        pswp.init();
        pswp.goTo(e.target.getAttribute("photo-index") ?? 0);
      });
    }
  </script>

</div>
