<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/tachyons.min.css">
	<link rel="stylesheet" href="/other.css">
	<link rel="icon" href="/2_jul_18_noalpha.gif">

	<title>agbero.dev</title>
	<!--<script src="/color.js"></script>-->

  <!-- <script src="https://unpkg.com/ipfs/dist/index.min.js"></script> -->
  <script src="getEventListeners.js"></script>

	<script>
	</script>

	<script src="https://bundle.run/dat-js@8"></script>

  <script>
    var Dat = window.datJS;
    
    /*
    var dat = new Dat();
    var archive = dat.get('dat://SOME_ARCHIVE_URL');

    archive.readFile('hello.txt', function (err, data) {
      console.log(data);
    });

    var readStream = archive.createReadStream('hello.txt');
    readStream.on('data', console.log);
    */
  </script>
</head>
