<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/tachyons.min.css">
	<link rel="stylesheet" href="/other.css">
	<link rel="icon" href="/2_jul_18_noalpha.gif">

	<title>Is this Korede's website?</title>
	<!--<script src="/color.js"></script>-->

  <!-- <script src="https://unpkg.com/ipfs/dist/index.min.js"></script> -->
  <script src="getEventListeners.js"></script>

	<script>
    var deconstructMode = true;
		var globalColor;
		(function() {
			// window.addEventListener('mousemove', scrollWheelHandler);

			var canvas, ctx, img;

			var canvasEngaged = false;

			var offset = Math.floor(Math.random() * Math.floor(360)); 

			var coloredElemFuncs = {
				"title": function (color) { try { document.getElementById("title").style.color = color; } catch {} },
				"tilde": function (color) { try { document.getElementById("tilde").style.color = color; } catch {} },
				"picture": function (color) { try { document.getElementById("picture").style.backgroundColor = color; } catch {} },
				"return": function (color) { try { document.getElementById("return").style.color = color; } catch {} },
        "picture_canvas": function (color) { 
          try { document.getElementById("picture_canvas").style.backgroundColor = color; } catch {} 
        },
				/*
					"links": function (color) { try { 
						// console.log("changing link color");
						var els = document.getElementsByClassName("link");
						for (var i=0; i<els.length; i++) {
							els[i].style.color = color; 
						}
					} catch {} },
				*/
			};

			function colorChangeHandler() {
				offset = (offset > 360) ? 0 : offset + 1 ;
				var color = "hsl("+offset.toString()+", 50%, 50%)";// alert(color);
				globalColor = color;
				var elems = Object.keys(coloredElemFuncs)
				for (var i=0; i<elems.length; i++) {
					coloredElemFuncs[elems[i]](color);
				}
				//document.getElementsByClassName("link").map(function(link) { link.style.color = color; })
			}	

			function loadScript(url) {
				var fileref=document.createElement('script');
				fileref.setAttribute("type","text/javascript");
				fileref.setAttribute("src", url);
				if (typeof fileref != "undefined") { document.body.appendChild(fileref); }
			}
			//var pictureWidth = document.getElementById("picture").width;

			var mouseClicked = false;

			var pos = {x: 0, y: 0}; function setPos(e) { pos.x = e.clientX-canvas.offsetLeft; pos.y = e.clientY-canvas.offsetTop };

			function initDraw(e) {
				if (canvasEngaged === false) { // if canvas hasn't been engaged, engage it and do an animation of it growing
					canvas.style.cursor = "cell";

					var intervalCallCount = 0;
					var interval = setInterval(function() {
						canvas.width  += 40;
						canvas.height += 40;
						ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
						/* TODO: figure out why shaking animation doesn't work here
							canvas.style.animation = "shake 0.2s";
							canvas.style.WebkitAnimation = "shake 0.2s";
							canvas.style.animationIterationCount = "infinite";
						*/

						if (++intervalCallCount === 10) {
							window.clearInterval(interval);
						}
					}, 15);
					canvasEngaged = true;
				}
				mouseClicked = true;
			}

			function onDraw(e){
				if (canvasEngaged === false) { return; } // if canvas hasn't been engaged, ignore event
				// draw path
				if (mouseClicked === false) { return ;} 
				/*
					// alternate drawing code
					ctx.beginPath();
					ctx.lineCap = 'round';
					ctx.arc(pos.x, pos.y, 7.5, 0, Math.PI * 2, false);
					setPos(e);
					ctx.lineWidth = 5;
					ctx.strokeStyle = globalColor;
					ctx.stroke();
				*/

			
				ctx.beginPath(); // begin
				ctx.lineWidth = 5;
				ctx.lineCap = 'round';
				ctx.strokeStyle = globalColor;
				ctx.moveTo(pos.x, pos.y); // from
				setPos(e);
				ctx.lineTo(pos.x, pos.y); // to
				ctx.stroke();
				
			}

			function stopDraw(e) {
				if (canvasEngaged === false) { return; } // if canvas hasn't been engaged, ignore event
				// stop drawing 
				mouseClicked = false;
			}

			function wrapTouchEvent(f) {
				return function(e) {
					if (e.target == canvas) { e.preventDefault(); }
					f(e);
				};
			}

			function openDrawingInNewTab(e) {
				var url = e.target.toDataURL();
				var tab = window.open(); 
				tab.document.body.innerHTML = "<img src="+ url +">";
			}

      function setupElementDeconstruction(item) {
        if (!deconstructMode) { return; }
        var name = "deconstructed-"+item.id;

        var deconstruction;
        if (!!document.getElementById(name)) {
          deconstruction = document.getElementById(name);
          deconstruction.innerHTML = "";
        } else {
          deconstruction = document.createElement("P");
          deconstruction.setAttribute("id", name);
          deconstruction.classList.add("deconstruction");
          var deconstructionsContainer = document.getElementById("deconstructions");
          deconstructionsContainer.appendChild(deconstruction);
        }
        var listeners = item.getEventListeners();

        var deconstructedText = "<b>" + name + "</b><br/>";
        deconstructedText += item.outerHTML + "<br/>";
        Object.keys(listeners).forEach(function (event) {
          if (!!listeners[event][0].listener) { return; }
          deconstructedText += (event + ":\n" + listeners[event][0].listener.toString());
        });

        deconstruction.innerHTML = deconstructedText;
        deconstruction.hidden = true;
      }

      document.addEventListener("DOMContentLoaded", function(event) {
				window.setInterval(colorChangeHandler, 10);

				canvas = document.getElementById("picture_canvas");
				if (canvas) {
					ctx = canvas.getContext("2d");
					img = new Image;
					canvas.width = 100;
					canvas.style.cursor = "help";

					img.onload = function() {
						ctx.imageSmoothingQuality = "low";
						ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
					}
					img.src = "./no_eyes_2_jul_18_noalpha.png";

					canvas.addEventListener("mousedown", initDraw, false);
					canvas.addEventListener("touchstart", wrapTouchEvent(initDraw), false);

					canvas.addEventListener("mousemove", onDraw, false);
					canvas.addEventListener("touchmove", wrapTouchEvent(onDraw), false);

					canvas.addEventListener("mouseup", stopDraw, false);
					canvas.addEventListener("mouseout", stopDraw, false);
					canvas.addEventListener("touchend", wrapTouchEvent(stopDraw), false);

					canvas.addEventListener("dblclick", openDrawingInNewTab);
				}

        document.addEventListener('mouseover', function(ev){
          if (!ev.target.classList.contains("deconstructable")) { return; }
          var name = "deconstructed-"+ev.target.id;
          var elem = document.getElementById(name);
          if (!elem) { return; }
          elem.hidden = false;
          elem.style.transform = 'translateY('+(ev.clientY-80)+'px)';
          elem.style.transform += 'translateX('+(ev.clientX-100)+'px)';
        }, false);

        document.addEventListener('mouseout', function(ev){
          if (!ev.target.classList.contains("deconstructable")) { return; }
          var name = "deconstructed-"+ev.target.id;
          var elem = document.getElementById(name);
          if (!elem) { return; }
          elem.hidden = true;
        }, false);

        document.body.addEventListener("keypress", function (e) {
          if (e.ctrlKey && e.altKey && e.shiftKey && (e.code == "KeyD")) {
            deconstructMode = !deconstructMode;
            console.log("toggling deconstuctMode:", deconstructMode ? "ON" : "OFF");
            var sign = document.getElementById("deconstruct-mode-sign");
            if (!!sign) { sign.hidden = !deconstructMode; }
          }
        });

        document.querySelectorAll(".deconstructable").forEach(setupElementDeconstruction);
			});

      var windows = 0;
      function openWindow(e) {
        e.preventDefault();
        var link = e.target.href;
        var iframe = document.createElement("IFRAME");
        iframe.addClass
      }

			window.addEventListener('beforeunload', function(event) {
				// upload to ipfs
			}, false);

		})();
	</script>

	<script src="https://bundle.run/dat-js@8"></script>

  <script>
    var Dat = window.datJS;
    
    /*
    var dat = new Dat();
    var archive = dat.get('dat://SOME_ARCHIVE_URL');

    archive.readFile('hello.txt', function (err, data) {
      console.log(data);
    });

    var readStream = archive.createReadStream('hello.txt');
    readStream.on('data', console.log);
    */
  </script>
</head>
