<head>

<link rel="stylesheet" href="/tachyons.min.css">

<script>
  function newFrame(link) {
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
  window.location = link;
  }

    // check if page in iframej
    if (window.location !== window.parent.location) {
      // call newframe on parent frame
      top.newFrame(link);
      return;
    } 
    document.body.style.overflowY = "hidden";

    var div = document.createElement("DIV");
    div.className = "{{site.frame_class}}";
    var iframe = document.createElement("IFRAME");
    iframe.setAttribute("src", link);
    iframe.setAttribute("frameBorder", "1");
    iframe.setAttribute("height", "100%");
    iframe.setAttribute("width", "100%");
    div.appendChild(iframe);
    document.body.appendChild(div);
  }
</script>

<style>
  body {
    overflow-x: auto;
    width: auto;
    white-space: nowrap;
    display
  }

  .frame {
    width: 600px;
    display: inline-block;
  }
</style>

</head>
