---
layout: default
title: Korede's Website
post: true
---

<h2>Wiki</h2>
<p>A digital garden, living and disorganized</p>

{% assign folders = site.pages | where_exp:"item", "item.path contains 'wiki'" %}
{% assign wikifolders = "" | split:"" %}

{% for folder in folders %}
  {% assign tempvar = folder.path | split:"/" %}
  {% assign wikifolders = wikifolders | push:tempvar[1] %}
{% endfor %}

{% assign wikifolders = wikifolders | uniq | sort %}

<div class="w-100 cf">
{% for folder in wikifolders %}
  {% unless folder contains 'md' or folder contains 'html' %}
    <div class="fl w-third-l w-100 mb1 mt1 pr4-l">
      <a class="link black" href="/wiki/{{folder}}/"><div class="bg-white pa3 ba b--dotted">{{folder | capitalize}}</div></a>
    </div>
  {% endunless %}
{% endfor %}
</div>

<h3>All notes</h3>

{% assign folder1 = site.pages | where_exp: "item" , "item.path contains 'wiki'" | sort:"path" %}
{% for item in folder1 %}
	<p><a href="{{ item.url }}" class="link dim bb">{{item.path}}</a></p>
{% endfor %}

