<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../tachyons.min.css">
		<link rel="icon" href="../icon.png">
		<script src="/color.js"></script>
	</head>
	<body class="content bg-white near-black">
		<div class="courier ma3 ma6-ns mt6 mw7">
			{% if page.post %}
				<a id="return" href="/" class="no-underline">
					<h2>
						<img src="../twit_pic_apr_18_gif.gif" class="dib dim" height="30"> agbalumo.co
					</h2>
				</a>
			{% endif %}
			{{ content }}
			<p id="tilde" class="fw8 i f3">~</p>

			<!--<a class="log_link" href="https://www.notion.so/log-drafts-bbd9fba375e042ffba0d18ab195b4467">
				<h4>Log</h4>
			</a>-->

			<!-- <h4>Rants</h4>
			<ul class="list">
				{% for post in site.posts %}
					<li>
						<a href="{{ post.url }}"> {{ post.title }} </a>
					</li>
					<br/>
				{% endfor %}
			</ul>
			-->
		</div>
	</body>
</html>
