<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

	<title>agbero.dev – Korede Aderele</title>
	<meta name="title" content="agbero.dev – Korede Aderele">
	<meta name="description" content="Lagos-born Philly-based Software Engineer">

	<meta property="og:type" content="website">
	<meta property="og:url" content="https://agbero.dev/">
	<meta property="og:title" content="agbero.dev - Korede Aderele">
	<meta property="og:description" content="Lagos-born Philly-based Software Engineer">
	<meta property="og:image" content="https://agbero.dev/slack_profile.png">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://agbero.dev/">
	<meta property="twitter:title" content="agbero.dev - Korede Aderele">
	<meta property="twitter:description" content="Lagos-born Philly-based Software Engineer">
	<meta property="twitter:image" content="https://agbero.dev/slack_profile.png">

	<link rel="stylesheet" href="/tachyons.min.css">
	<link rel="stylesheet" href="/other.css">
	<link rel="icon" href="/2_jul_18_noalpha.gif">

  <style>
    .main {
      display: grid;
      margin: 0;
      padding: 1em;
      grid-gap: 20px;
      grid-template-areas:
        "intro      b       a"
        "about   center     a"
        "about   center     a";
    }

    .intro { grid-area: intro; }
    .about { grid-area: about; }
    .center { grid-area: center; }

    a {
      text-decoration: none;
      font-weight: bold;
      color: white;
    }

    a:hover {
      opacity: 0.7;
    }
  </style>
</head>

<body class="content bg-black-90 near-white sans-serif pa3">
  <div class="main">
    <div class="intro">
      <p>
        Korede Aderele <br/>
        korede [at] drexel.edu <br/>
      </p>

      <p>
        <a href="/w">writing</a> and <a href="/photos">photos </a>
      </p>

      <p>
        <a href="https://twitter.com/korede_ta" target="_blank">twitter</a> <br/>
        <a href="https://are.na/korede-aderele">are.na</a><br/>
        <a href="https://github.com/korede-ta" target="_blank">github</a><br/>
        <a href="https://open.spotify.com/user/korede_ta" target="_blank">spotify</a><br/>
        <a href="https://linkedin.com/in/koredeaderele" target="_blank">linkedin</a><br/>
      </p>
    </div>

    {{ content }}
  </div>

</body>
