<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Korede's Blog</title>

		<link rel="stylesheet" href="../tachyons.min.css">
		<link rel="icon" href="../icon.png">
	</head>
	<body class="content bg-white near-black">
		<div class="mt3 ml6">
			<img src="../twit_pic_apr_18_gif.gif" height="50">
			<a>Back to home</a>
		</div>
		<div class="courier ma3 ma6-ns mt6 mw7">
			{{ content }}
		<div>
	</body>
</html>
